<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="stedgerintegration" translate="label" sortOrder="1000">
            <label>Stedger</label>
        </tab>
        <section id="stedgerconsumerintegration" translate="label" type="text" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Consumers Integration</label>
            <tab>stedgerintegration</tab>
            <resource>Stedger_ConsumersApiIntegration::config</resource>
            <group id="settings" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>API</label>
                <field id="public_key" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Public key:</label>
                </field>
                <field id="secret_key" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Secret key:</label>
                    <backend_model>Stedger\ConsumersApiIntegration\Model\System\Config\Backend\Keys</backend_model>
                </field>
            </group>
        </section>
    </system>
</config> 
