<?xml version="1.0"?>
<config>
    <modules>
        <Stedger_APIIntegration>
            <version>1.0.0.0</version>
        </Stedger_APIIntegration>
    </modules>
    <global>
        <models>
            <stedgerintegration>
                <class>Stedger_APIIntegration_Model</class>
            </stedgerintegration>
        </models>
        <helpers>
            <stedgerintegration>
                <class>Stedger_APIIntegration_Helper</class>
            </stedgerintegration>
        </helpers>
        <resources>
            <stedgerintegration_setup>
                <setup>
                    <module>Stedger_APIIntegration</module>
                </setup>
            </stedgerintegration_setup>
        </resources>
        <events>
            <catalog_product_save_after>
                <observers>
                    <Stedger_APIIntegration_CatalogProductSaveAfter>
                        <type>singleton</type>
                        <class>stedgerintegration/observer</class>
                        <method>catalogProductSaveAfter</method>
                    </Stedger_APIIntegration_CatalogProductSaveAfter>
                </observers>
            </catalog_product_save_after>
            <catalog_product_delete_after_done>
                <observers>
                    <Stedger_APIIntegration_CatalogProductDeleteAfter>
                        <type>singleton</type>
                        <class>stedgerintegration/observer</class>
                        <method>catalogProductDeleteAfter</method>
                    </Stedger_APIIntegration_CatalogProductDeleteAfter>
                </observers>
            </catalog_product_delete_after_done>
            <sales_order_shipment_save_after>
                <observers>
                    <Stedger_APIIntegration_ShipmentSaveAfter>
                        <type>singleton</type>
                        <class>stedgerintegration/observer</class>
                        <method>salesShipmentSaveAfter</method>
                    </Stedger_APIIntegration_ShipmentSaveAfter>
                </observers>
            </sales_order_shipment_save_after>
        </events>
        <fieldsets>
            <sales_convert_quote>
                <stedger_integration_id>
                    <to_order>*</to_order>
                </stedger_integration_id>
            </sales_convert_quote>
            <sales_convert_quote_item>
                <stedger_integration_id>
                    <to_order_item>*</to_order_item>
                </stedger_integration_id>
            </sales_convert_quote_item>
        </fieldsets>
    </global>
    <frontend>
        <routers>
            <stedgerintegration>
                <use>standard</use>
                <args>
                    <module>Stedger_APIIntegration</module>
                    <frontName>stedgerintegration</frontName>
                </args>
            </stedgerintegration>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminstedgerintegration>
                <use>admin</use>
                <args>
                    <module>Stedger_APIIntegration</module>
                    <frontName>adminstedgerintegration</frontName>
                </args>
            </adminstedgerintegration>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <adminstedgerintegration>
                    <file>adminstedgerintegration.xml</file>
                </adminstedgerintegration>
            </updates>
        </layout>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <stedgerintegration>
                                            <title>Stedger Settings</title>
                                        </stedgerintegration>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
