<?xml version="1.0"?>
<config>
    <modules>
        <Stedger_ConsumersApiIntegration>
            <version>1.0.0.0</version>
        </Stedger_ConsumersApiIntegration>
    </modules>
    <global>
        <models>
            <stedgerconsumerintegration>
                <class>Stedger_ConsumersApiIntegration_Model</class>
            </stedgerconsumerintegration>
        </models>
        <helpers>
            <stedgerconsumerintegration>
                <class>Stedger_ConsumersApiIntegration_Helper</class>
            </stedgerconsumerintegration>
        </helpers>
        <resources>
            <stedgerconsumerintegration_setup>
                <setup>
                    <module>Stedger_ConsumersApiIntegration</module>
                </setup>
            </stedgerconsumerintegration_setup>
        </resources>
        <events>
            <sales_order_place_after>
                <observers>
                    <Stedger_ConsumersApiIntegration_SalesOrderPlaceAfter>
                        <type>singleton</type>
                        <class>stedgerconsumerintegration/observer</class>
                        <method>salesOrderSaveAfter</method>
                    </Stedger_ConsumersApiIntegration_SalesOrderPlaceAfter>
                </observers>
            </sales_order_place_after>
            <sales_order_place_before>
                <observers>
                    <Stedger_ConsumersApiIntegration_SalesOrderPlaceBefore>
                        <type>singleton</type>
                        <class>stedgerconsumerintegration/observer</class>
                        <method>salesOrderPlaceBefore</method>
                    </Stedger_ConsumersApiIntegration_SalesOrderPlaceBefore>
                </observers>
            </sales_order_place_before>
            <controller_action_predispatch_checkout_cart_add>
                <observers>
                    <Stedger_ConsumersApiIntegration_CheckoutCartAdd>
                        <class>stedgerconsumerintegration/observer</class>
                        <method>checkoutCartAdd</method>
                    </Stedger_ConsumersApiIntegration_CheckoutCartAdd>
                </observers>
            </controller_action_predispatch_checkout_cart_add>
        </events>
    </global>
    <frontend>
        <routers>
            <stedgerconsumerintegration>
                <use>standard</use>
                <args>
                    <module>Stedger_ConsumersApiIntegration</module>
                    <frontName>stedgerconsumerintegration</frontName>
                </args>
            </stedgerconsumerintegration>
        </routers>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <stedgerconsumerintegration>
                                            <title>Stedger Settings</title>
                                        </stedgerconsumerintegration>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
