<?xml version="1.0"?>
<config>
    <tabs>
        <stedgerintegration translate="label" module="stedgerconsumerintegration">
            <label>Stedger</label>
            <sort_order>1000</sort_order>
        </stedgerintegration>
    </tabs>
    <sections>
        <stedgerconsumerintegration translate="label">
            <label>Consumers Integration</label>
            <tab>stedgerintegration</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <settings translate="label">
                    <label>Api</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <public_key translate="label">
                            <label>Public key:</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </public_key>
                        <secret_key translate="label">
                            <label>Secret key:</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <backend_model>stedgerconsumerintegration/system_config_backend_keys</backend_model>
                        </secret_key>
                    </fields>
                </settings>

                <products translate="label">
                    <label>Products</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>

                    <fields>
                        <status translate="label">
                            <label>New Product Status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>stedgerconsumerintegration/system_config_source_product_status</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </status>
                        <add_tags translate="label">
                            <label>Add Tags</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </add_tags>
                        <manufacturer_code translate="label">
                            <label>Pick brand/manufacturor field</label>
                            <frontend_type>select</frontend_type>
                            <source_model>stedgerconsumerintegration/system_config_source_product_attributecode</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </manufacturer_code>
                        <ean_code  translate="label">
                            <label>Pick ean field</label>
                            <frontend_type>select</frontend_type>
                            <source_model>stedgerconsumerintegration/system_config_source_product_attributecode</source_model>
                            <comment>Attribute scope must be "Global"</comment>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </ean_code>
                        <tax_class translate="label">
                            <label>Pick default tax class</label>
                            <frontend_type>select</frontend_type>
                            <source_model>stedgerconsumerintegration/system_config_source_product_taxclass</source_model>
                            <comment>Attribute scope must be "Global"</comment>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tax_class>
                    </fields>

                </products>
            </groups>
        </stedgerconsumerintegration>
    </sections>
</config>